/NoteAppDAT/database/
/NoteAppDAT/target/
/NoteAppDAT/Payara/
NoteAppDAT/nb-configuration.xml
/NoteAppDAT/nbproject/
/NoteAppDAT/NoteAppDAT.iml
NoteAppDAT/nbactions-no-test.xml
NoteAppDAT/nbactions-sebbe.xml
.idea/
